%div#header
  #maintitle
    A Balanced ScoreCard Application
= javascript_include_tag "FusionCharts"
= javascript_include_tag "app/fchart"
= javascript_include_tag "app/general"
= javascript_include_tag "app/units"
= javascript_include_tag "app/organizations"
= javascript_include_tag "app/strategies"
= javascript_include_tag "app/initiatives"
= javascript_include_tag "app/perspectives"
= javascript_include_tag "app/objectives"
= javascript_include_tag "app/measures"
= javascript_include_tag "app/targets"
= javascript_include_tag "app/main"
