%div#header
  #maintitle
    A Balanced ScoreCard Application
= javascript_include_tag "app/general"
= javascript_include_tag "app/organizations"
= javascript_include_tag "app/strategies"
= javascript_include_tag "app/perspectives"
= javascript_include_tag "app/objectives"
= javascript_include_tag "app/main"
