%div#header
  #maintitle
    = t(:title)
  - if current_user.roles.find(1)
    %table.tablebutton
      %tr
        %td.admin
        %td
          = link_to t(:admin), admin_path
  - end rescue ""
  %table.tablebutton
    %tr
      %td.exit
      %td
        = link_to t(:log_out), destroy_path
= javascript_include_tag "FileUploadField"
= javascript_include_tag "app/general","app/units","app/responsibles","app/organizations","app/strategies","app/initiatives","app/perspectives","app/objectives","app/measures","app/targets","app/main"

