#header
  #maintitle
    A Balanced ScoreCard Application -- Strategy Map
  #home
    = link_to "Home", presentation_path

  #exit
    = link_to "Log Out", destroy_path

= javascript_tag "var strategy_id=#{session[:strategy_id]}"
= javascript_include_tag "jquery-1.4.2.min"
= javascript_include_tag "raphael-min"
= javascript_include_tag "raphaelle"
= javascript_include_tag "raphael.properties"
= javascript_include_tag "raphael.serialize"
= javascript_include_tag "app/strategymap"
#drawcanvas