%div#header
  #maintitle
    = t(:title)+"--"+t(:strategy_map)
  %table.tablebutton
    %tr
      %td.home
      %td
        = link_to t(:home), presentation_path
  %table.tablebutton
    %tr
      %td.exit
      %td
        = link_to t(:log_out), destroy_path

= javascript_tag "var strategy_id=#{session[:strategy_id]}"
= javascript_include_tag "jquery-1.4.2.min"
= javascript_include_tag "raphael-min"
= javascript_include_tag "raphaelle"
= javascript_include_tag "raphael.properties"
= javascript_include_tag "raphael.serialize"
= javascript_include_tag "FusionCharts","app/fchart"
= javascript_include_tag "app/strategymap"
#drawcanvas
