<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @organization.name %>
</p>

<p>
  <b>Vision:</b>
  <%= @organization.vision %>
</p>

<p>
  <b>Goal:</b>
  <%= @organization.goal %>
</p>

<p>
  <b>Description:</b>
  <%= @organization.description %>
</p>

<p>
  <b>Organization:</b>
  <%= @organization.organization_id %>
</p>


<%= link_to 'Edit', edit_organization_path(@organization) %> |
<%= link_to 'Back', organizations_path %>
