%html
  %head
    = stylesheet_link_tag "../javascripts/ext/resources/css/ext-all"
    = javascript_include_tag "json2"
    = javascript_include_tag "ext/adapter/ext/ext-base"
    = javascript_include_tag "ext/ext-all"
    = javascript_include_tag "lang/english"
    = stylesheet_link_tag "default","scaffold"
    = javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery?
    %title
      = t(:title)
  %body
    = yield

= javascript_include_tag "application"