%html
  %head
    = stylesheet_link_tag "../javascripts/ext/resources/css/ext-all"
    = javascript_include_tag "json2"
    = javascript_include_tag "ext/adapter/ext/ext-base"
    = javascript_include_tag "ext/ext-all"
    - if params[:locale].nil? then
      = javascript_tag "var locale = 'en';"
    - else
      = javascript_tag "var locale='#{params[:locale]}';"
    - if params[:locale]=="es" then
      = javascript_include_tag "lang/spanish"
      = javascript_include_tag "ext/src/locale/ext-lang-es"
    - else
      = javascript_include_tag "lang/english"
      = javascript_include_tag "ext/src/locale/ext-lang-en"
    = stylesheet_link_tag "default","scaffold","fileuploadfield"
    = javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery?
    %title
      = t(:title)
  %body
    = yield

= javascript_include_tag "application"
